.header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #000;
    /* background-color: #f1f0ef; */
}

.header img {
    height: 8rem;
    width: auto;
    object-fit: contain;
}

.header button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
}