.info_mobile p {
  font-size: 30px;
}

@media (max-width: 1050px) {
  .info_mobile p {
    font-size: 20px;
  }
}

.info_mobile {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}
