.info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  /* background-image: url("../../public/program.png");
    background-size: contain;
    background-repeat: no-repeat; */
}

.info h1 {
  font-size: 2rem;
}

.info img {
  height: 80vh;
  width: auto;
}

.info_mobile {
  display: none;
}

@media (max-width: 1050px) {
  .info {
    display: none;
  }

  .info_mobile {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
  }

  .info_mobile h1 {
    font-size: 20px;
  }
}
