.general {
    height: 100vh;
    background-image: url("../../public/landing/image4.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    gap: 15px;
}

.general button {
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 75px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.general button:hover {
    background-color: #d0bfb1;
    color: #fff;
    border: 2px solid #fff;
}

@media (max-width: 1050px) {
    .general {
        flex-direction: column;
        gap: 25px;
    }
}