.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.unit {
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.countdown span {
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}