.countdown-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/card-image.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.cardImage {
    object-fit: cover;
    height: 100%;
    flex: 1;
    width: auto;
}

.card {
    width: 900px;
    height: 600px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    z-index: 99;
    position: relative;
    background-color: white;
}

.content {
    flex: 1;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    z-index: 99;
    position: relative;
}

.content p {
    font-size: 24px;
}

.content img {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.inner-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-content h2 {
    font-size: 26px;
}

.inner-content p {
    font-size: 18px;
}

@media (max-width: 1050px) {
    .cardImage {
        display: none;
    }
  }